body {
  display: inline-block;
  background-color: #FF0000;
}
#searchInputs {
  margin-bottom: 5px;
}

img {
  width: 100px;
  heigth: 150px;
  padding: 5px;
}


.card {
  border: 1px solid black;
}


#noResults {
  display: none;
}

#template {
  display: none;
}
